/***********************************/
/************ BANDAS ***************/
/***********************************/ 

#bandsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  //grid-template-rows: 100px 100px;
}

.band{
  width: 90%;
}

.band img{
  width: 100%;
  padding-top: 10px;
}

.band h3{
  padding: 1rem 0 0 0;
  margin: 0.1rem;
}

.band p {
  text-align: justify;
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  #bandsGrid{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  #bandsGrid{
    grid-template-columns: 1fr;
  }
}