/***********************************/
/************ BANDAS ***************/
/***********************************/ 

#bandsFlexBox {
  display: flex;
  flex-wrap: wrap;
}

.bands-item {
  flex: 1 1 30%;
  box-sizing: border-box;
  padding: 10px 15px;
}

.bands-item img {
  width: 100%;
}

.bands-item h3 {
  padding: 1rem 0 0 0;
  margin: 0.1rem;
}

.bands-item p {
  text-align: justify;
  padding: 1rem;
}

@media screen and (max-width: 767px) {
  .bands-item {
    flex: 1 1 50%;
  }
}

@media screen and (max-width: 576px) {
  .bands-item {
    flex: 1 1 100%;
  }
}