@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/***********************************/
/********** COSAS COMUNES **********/
/***********************************/ 
*{
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0)
}

a{
  text-decoration: none;
  color: rgb(0,0,0);
}

.active {
  color: rgb(156, 16, 16);
}

p {
  font-size: 1rem;
}

h1 {
  padding: 1rem 0;
  font-size: 2rem;
}

h2 {
  padding: 1rem 0;
  font-size: 1.7rem;
}

h3 {
  padding: 1rem 0;
  font-size: 1.4rem;
}

.container{
  width: 85vw;
  max-width: 1024px;
  margin: auto;
}

ul{
  margin-top: 0;
  padding-left: 1.8rem;
  list-style-type: circle;
}

li{
  line-height: 1.8rem;
}

.text-center{
  text-align: center;
}

main{
  padding: 2rem 0;
}

/***********************************/
/******** ESTILO DEL HEADER ********/
/***********************************/ 
header {
  border-bottom: 2px solid rgb(232, 235, 237);
  height: 90px;
}

#headerLogo {
  width: 230px;
  margin-top: 25px;
}

header input {
  display: none;
  float: right;
}

header label{
  display: none;
  margin-top: 17px;
  float: right;
  font-size: 40px;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

header nav {
  margin-top: 35px;
  float: right;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 350px;
}

header nav li {
  width: 100%;
  font-size: 1rem;
}

header nav li a {
  text-shadow: 0 0 5px rgb(255, 255, 255);
  text-align: center;
}

@media screen and (max-width: 767px), screen and (orientation: portrait) {
  header {
    position: sticky; //Esto se hace para que el menú se ponga enfrente de todos los elementos.
  }

  #headerLogo {
    width: 220px;
  }

  header nav {
    margin-top: 19px;
    display: block;
    float: none;
    background-color: rgb(255,255,255);
  }

  header nav ul {
    width: 100%;
    display: none;
    box-shadow: 0 2px 5px rgb(20, 20, 20);
  }

  header nav li {
    padding: 1.3rem 0;
    text-align: center;
    border: 1px solid rgb(232, 235, 237);
  }

  header label{
    display: block;
  }
  
  input:checked  ~ nav ul{
    display: block;
  }
}

/***********************************/
/******** ESTILO DEL FOOTER ********/
/***********************************/ 
footer {
  padding: 35px 0;
}

footer h2{
  padding: 0;
}

footer h3{
  padding: 0;
  margin: 8px 0;
}

#emailNewsletter {
  display: block;
  width: 450px;
  margin: 10px auto;
  padding: 0.5rem; 
}

#politicaPrivacidad {
  text-align: center;
  font-size: 0.8rem;
}

button {
  border: none;
  border-radius: 0px;
  padding: 0.6rem 1.2rem;
  display: block;
  color: rgb(255, 255, 255);
  background-color: rgb(189, 55, 0);
  text-align: center;
  margin: 1rem auto;
  cursor: pointer;
}

.grid3x1 {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.item-grid3x1 {
  width: 32%;
}

hr {
  border: none;
  border-bottom: 2px solid rgb(232, 235, 237);
}

#footerMenus {
  margin: 2rem 0;
  display: flex;
}

#footerMenus > * {
  flex: 0 0 auto;
  height: 40px;
}

#footerLogo{
  width: 200px;
}

#centralMenu {
  margin: auto;
  width: calc(100% - 450px); //Le quito 450 porque es lo que ocupa el logo, el menú de las redes sociales y algo más
  min-width: 350px;
}

#centralMenu ul {
  margin: auto;
  display: flex;
  list-style: none;
  padding: 0;
}

#centralMenu li {
  margin: auto;
  width: 25%;
  text-align: center;
  padding: 7px 0;
}

#socialMenu {
  width: 130px;
  font-size: 1.2rem;
}

#socialMenu ul {
  margin: auto;
  display: flex;
  list-style: none;
  padding: 0;
}

#socialMenu li {
  margin: auto;
  width: 32%;
  text-align: center;
  padding: 5px 0;
}
@media screen and (max-width: 900px) {
  #socialMenu {
    width: 100px;
  }
}

@media screen and (max-width: 767px), screen and (orientation: portrait) {
  #emailNewsletter {
    width: 350px;
  }

  .grid3x1 {
    display: block;
  }

  .item-grid3x1 {
    width: 100%;
    max-width: 18rem;
    margin: 25px auto;
  }

  #footerMenus{
    display: block;
  }

  #footerLogo {
    display: block;
    margin: 0 auto;
  }

  #centralMenu {
    width: 100%;
    min-width: 250px;
    margin: 30px auto;
    font-size: 0.9rem;
  }

  #socialMenu {
    width: 220px;
    margin: 0 auto;
  }
}


/*************
/**/

#indexPage{
  background-image: url("../../assets/images/grid.jpg");
  background-size: cover;
}

#indexPage header {
  border-bottom: none;
}








.grid {
  //background-image: url("../../assets/images/grid.jpg");
 // background-size: cover;
  display: grid;
 // grid-template-columns: 2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr) fit-content(28em) calc(2em + 0.5vw);
  //grid-template-rows: 325vh 40vh 15vh;

  grid-template-columns: 12em 1fr 1fr 1fr;
  grid-template-rows: 10rem 15rem 5rem;
  grid-template-areas: 'a a a a'
                       'b b e d'
                       'c c e d';
}

.grid-item-1 { 
  grid-area: a;

 }
.grid-item-2 { grid-area: b; }
.grid-item-3 { grid-area: c; 
  background-color: rgba(255,255,255,0.6);}
.grid-item-4 { 
  background-color: rgba(0,0,0,0.6);
  grid-area: d;
}
.grid-item-5 { grid-area: e; }



/*h1 {
  grid-column: 3/6;
  grid-row: 1/2;
  z-index: 2;
  padding-left: 0.25em;
  margin-bottom: initial;
}

@supports (display: grid) {
  @media screen and (max-width: 767px), screen and (orientation: portrait) {
    .grid {
      //max-width: none;
      //padding: 0;
      //display: grid;
     // grid-template-columns: 2fr minmax(10em, -webkit-max-content) minmax(14em, -webkit-max-content) minmax(1em, 1fr) fit-content(28em) calc(2em + 0.5vw);
      grid-template-columns: 2fr minmax(10em, max-content) minmax(14em, max-content) minmax(1em, 1fr) fit-content(28em) calc(2em + 0.5vw);
      grid-template-rows: 35vh 40vh 15vh;
      grid-template-areas:  'd d e e'
                            'b b a a'
                            'c c a a';
    }
  }
}












.bands{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  flex-direction: column; 
}

.row {
  display: flex;
  flex: 1; 
}

/*.bandItem{
  padding: 1rem;
}

.bandItem img{
  width: 100%;
}


/*
.bodyantiguo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.uoc-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 200px;
  height: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 24px;
  font-weight: 700;
  color: $uoc-corporate;

  @media (min-width: $mqMinWidth) {
    font-size: 36px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}
*/


a:hover {
  color: rgb(255, 0, 0);
}