<main>
  <article>
    <!-- Imagen que ocupa todo el ancho -->
    <div id="articleTitle">
      <div class="container text-center">
        <p>Historia de "Rock & You"</p>
        <address>
          Por Cayetano Borja Carrillo
        </address>
      </div>
    </div>
    <div class="container">
    
    <!-- Sección Historia -->
    <div id="Historia" class="container2">
      <p class="bigtext">La historia de cómo la simple idea de 2 adolescentes de juntar un día a las bandas de rock del barrio para echar el rato se convirtió en uno de los festivales más prestigiosos de toda España.</p>

      <p>En una cálida tarde de Agosto de 1993, mientras se echaban una partida al Street Fighter 2 en la Super Nintendo, los hermanos Rod y Tod tuvieron la sencilla idea de llamar a las 3 bandas de rock del barrio para tocar unas canciones y así echar un día de verano entre amiguetes. No se sabe cómo, pero se corrió la voz por todo el pueblo y, sin darse cuenta, se reunieron más de un centenar de adolescentes ansiosos de escuchar Rock. La quedada tuvo tanto éxito que decidieron repetirlo todos los veranos.</p>
      
      <p>Cada año que pasaba fueron participando más bandas, primero los grupos de los pueblos cercanos y, más tarde, empezaron a invitar a bandas nacionales e internacionales de reconocimiento mundial. </p>

      <p>Por cada edición que se celebraba, mayor era la cantidad de gente que acudía al evento. Por esta razón, y para una mayor comodidad de los asistentes, los hermanos decidieron que el festival debe de cumplir con las siguientes principios básicos:</p>
        
    </div>
    <!-- Sección listado de principios -->
    <div id="principios" class="container2">
      <div class="greyborder"></div>

      <div class="principio">
        <div class="item-icon">
          <i class="fa-solid fa-guitar fa-xl"></i>
        </div>
        <div>
          <p><strong>Bandas emergentes</strong></p>
          <p>Debido a que el festival empezó como una quedada de amigos, el 30% de los grupos que participen deben ser bandas emergentes para darse a conocer, siempre y cuando haya bandas suficientes para completar ese 30%.</p> 
        </div>
      </div>

      <div class="principio">
        <div class="item-icon">
          <i class="fa-solid fa-campground fa-xl"></i>
        </div>
        <div>
          <p><strong>Zona de acampada</strong></p>
          <p>El festival debe celebrarse cerca de una explanada habilitada con iluminación, aseos portátiles y contenedores de basura para que aquellas personas con menos recursos económicos puedan acampar de forma gratuita.</p>
        </div>
      </div>

      <div class="principio">
        <div class="item-icon">
          <i class="fa-solid fa-wheelchair fa-xl"></i>
        </div>
        <div>
          <p><strong>Sitios para discapacitados</strong></p>
          <p>Se reservará una zona especial con asientos cómodos, buena visibilidad y de fácil acceso a los servicios básicos para las personas discapacidad puedan disfrutar del evento en óptimas condiciones.</p>
        </div>
      </div>
      <div class="greyborder"></div>
    </div>

    <!-- Sección criticas de prensa -->
    <div id="criticaPrensa" class="container2">
      <div class="row align-items-center">
        <div class="col-12 col-sm-4">
          <p class="bigtext">¿Qué es lo que opina la prensa de "Rock & You"?</p>
        </div>
        <div class="col-12 col-sm-8">
          <blockquote id="critica">
            <p>Organización impecable, espectaculares escenarios, cartelera de vértigo y público entregado al máximo. Apoteósico en todos los sentidos.</p>
            <cite>La Voz de Almería</cite>
        </blockquote> 
        </div>
    </div>

    <img id="imgRecinto" src="./assets/images/recinto.jpg" alt="Recinto">
    <p class="container2">Este año el evento tendrá lugar en el llano de los Olleres en un enorme recinto con capacidad para 30.000 personas, con todo tipo de instalaciones para garantizar la máxima comodidad y vivir una experiencia única.</p>

  </article>
</main>