<main class="container">
    <h1 class="text-center padding-top">Bandas</h1>
    <div id="bandsGrid">
      <!-- Elemento -->
      <div class="band">
        <img src="assets/images/band1.png" alt="Guns N' Flowers">
        <h3 class="text-center">Guns N' Flowers</h3>
        <h4 class="text-center">Hard Rock</h4>
        <p>La famosa banda Hard Rock fundada en 1985 en Hollywood, presenta su nuevo disco <strong>"Appetite for Devastation"</strong>. Con este álbum, la banda vuelve al sonido propio e inconfundible de sus primeros discos que enamoró a toda una generación.</p>
      </div>

      <!-- Elemento -->
      <div class="band">
        <img src="assets/images/band2.png" alt="The Rolling Boulders">
        <h3 class="text-center">The Rolling Boulders</h3>
        <h4 class="text-center">Rock & Roll</h4>
        <p>La mundialmente reconocida banda de Rock & Roll británica ha decidido retirarse de los escenarios por problemas de salud y darán su <strong>último concierto</strong> este año en "Rock & You". ¡Es una oportunidad única que no te puedes perder!</p>
      </div>

      <!-- Elemento -->
      <div class="band">
        <img src="assets/images/band3.png" alt="Red Floyd">
        <h3 class="text-center">Red Floyd</h3>
        <h4 class="text-center">Rock psicodélico</h4>
        <p>Considerada un icono cultural del siglo XX y una de las bandas más influyentes, exitosas y aclamadas de la historia de la música, la británica banda no podría faltar a nuestro evento.</p>
      </div>

      <!-- Elemento -->
      <div class="band">
        <img src="assets/images/band4.png" alt="The Beach Dudes">
        <h3 class="text-center">The Beach Dudes</h3>
        <h4 class="text-center">Surf Rock</h4>
        <p>Esta mítica banda estadounidense fue uno de los grupos más influyentes de la década de los 60 gracias a su sonido único e inconfundible que consigue combinando el clásico Rock & Roll con el Jazz.</p>
      </div>

      <!-- Elemento -->
      <div class="band">
        <img src="assets/images/band5.png" alt="1212">
        <h3 class="text-center">AB / CD</h3>
        <h4 class="text-center">Hard Rock</h4>
        <p>Como cada año, también vendrá a nuestro festival la banda de los riffs más pegadizos, ritmos más intensos y vocalidad jactosa llena de líbido, testosterona y júbilo rockero.</p>
      </div>

      <!-- Elemento -->
      <div class="band">
        <img src="assets/images/band6.png" alt="1212">
        <h3 class="text-center">King</h3>
        <h4 class="text-center">Rock</h4>
        <p>Tras más de 10 años de inactividad, la famosa banda británica vuelve a los ruedos y han elegido a "Rock & You" para su primer reencuentro. Garantizamos una experiencia apoteósica.</p>
      </div>

    </div>
    </main>
