<main class="container">
  <h1 class="text-center padding-top">Contacto</h1>
  <p>Tienes alguna duda bla bla bla?</p>
  <form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Tu nombre: <input type="text" name="name" required /></label>
    </p>
    <p>
      <label>Tu correo electrónico: <input type="email" name="email" required /></label>
    </p>
    <p>
      <label>Motivo: <select name="role[]" multiple>
        <option value="leader">Compra de entradas</option>
        <option value="follower">Alojamiento</option>
        <option value="follower" selected>Otro</option>
      </select></label>
    </p>
    <p>
      <label>Mensaje: <textarea name="message" required></textarea></label>
    </p>
    <p>
      <button type="submit">Enviar</button>
    </p>
  </form>

  <div id="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7813.185359145826!2d-2.1685912430693817!3d37.42386205798911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd65484080dc7479%3A0x6208974b6340d428!2s04813%20Llano%20de%20Los%20Olleres%2C%20Almer%C3%ADa!5e0!3m2!1ses!2ses!4v1650743287362!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</main>
