<main class="container">
  <section class="grid">
      <div class="grid-item-1">
        <p>Como es costumbre, cada año celebramos el día del orgullo rockero con las mejores bandas de rock nacional e internacional y el mejor ambiente.</p>
        <p>Este año no es para menos, ya que tenemos como invitados a bandas de altísima calidad como <strong>Guns N' Flowers</strong>, <strong>The Rolling Boulders</strong> y <strong>Red Floyd.</strong></p>
        <p>Pulsa <a href="bandas.html"><strong>aquí</strong></a> y entérate de todas las bandas que visitarán este año los escenarios de "Rock & You".</p>
      </div>
      <div class="grid-item-2">
        <p>¿No tienes donde dormir? No te preocupes, consulta nuestro <a href="#"><strong>listado</strong></a> de hoteles y campings cercanos a precio económico.</p>
      </div>
  </section>
</main>
