/***********************************/
/********** COSAS COMUNES **********/
/***********************************/ 
*{
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: rgb(255,255,255);
  color: rgb(0,0,0)
}

a{
  text-decoration: none;
  color: rgb(0,0,0);
}

.active {
  color: rgb(156, 16, 16);
}

p {
  font-size: 1rem;
}

h1 {
  padding: 1rem 0;
  font-size: 2rem;
}

h2 {
  padding: 1rem 0;
  font-size: 1.7rem;
}

h3 {
  padding: 1rem 0;
  font-size: 1.4rem;
}

h4 {
  padding: 0;
  font-size: 1.1rem;
  margin: 0;
}

.container{
  width: 85vw;
  max-width: 1024px;
  margin: auto;
}

ul{
  margin-top: 0;
  padding-left: 1.8rem;
  list-style-type: circle;
}

li{
  line-height: 1.8rem;
}

.text-center{
  text-align: center;
}

main{
  padding: 1rem 0;
}

/***********************************/
/******** ESTILO DEL HEADER ********/
/***********************************/ 
header {
  border-bottom: 2px solid rgb(232, 235, 237);
  height: 100px;
}

#headerLogo {
  width: 230px;
  margin-top: 30px;
}

header input {
  display: none;
  float: right;
}

header label{
  display: none;
  margin-top: 20px;
  float: right;
  font-size: 40px;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

header nav {
  margin-top: 40px;
  float: right;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 350px;
}

header nav li {
  width: 100%;
  font-size: 1rem;
}

header nav li a {
  text-shadow: 0 0 5px rgb(255, 255, 255);
  text-align: center;
}

@media screen and (max-width: 767px), screen and (orientation: portrait) {
  header {
    position: sticky; //Esto se hace para que el menú se ponga enfrente de todos los elementos.
  }

  #headerLogo {
    width: 220px;
  }

  header nav {
    margin-top: 25px;
    display: block;
    float: none;
    background-color: rgb(255,255,255);
  }

  header nav ul {
    width: 100%;
    display: none;
    box-shadow: 0 2px 5px rgb(20, 20, 20);
  }

  header nav li {

    text-align: center;
    border: 1px solid rgb(232, 235, 237);
  }

  header nav li a{
    line-height: 4rem;
    display: block;
  }

  header label{
    display: block;
  }
  
  input:checked  ~ nav ul{
    display: block;
  }
}

/***********************************/
/******** ESTILO DEL FOOTER ********/
/***********************************/ 
footer {
  padding: 35px 0;
}

footer h2{
  padding: 0;
}

footer h3{
  padding: 0;
  margin: 8px 0;
}

#emailNewsletter {
  width: 100%;
  max-width: 450px;
  margin: 15px auto 5px auto;
}

#politicaPrivacidad {
  text-align: center;
  font-size: 0.8rem;
}

#btnSuscribirse {
  margin: 1rem 0 1.5rem 0;
  text-align: center;
}

hr {
  border: none;
  border-bottom: 2px solid rgb(232, 235, 237);
  margin: 1.5rem 0;
}

#footerMenus nav{
  padding: 15px 0;
}

#footerLogo{
  width: 210px;
  padding: 15px 0;
}

#centralMenu ul {
  margin: auto;
  display: flex;
  list-style: none;
  padding: 0;
}

#centralMenu li {
  width: 25%;
  text-align: center;
}

#socialMenu {
  font-size: 1.2rem;
}

#socialMenu ul {
  margin: auto;
  display: flex;
  list-style: none;
  padding: 0;
}

#socialMenu li {
  margin: auto;
}

@media screen and (max-width: 767px), screen and (orientation: portrait) {
  #emailNewsletter {
    width: 300px;
  }

  #footerLogo {
    width: 170px;
  }
}

@media screen and (max-width: 576px) {
  #footerLogo {
    width: 210px;
    display: block;
    margin: 0 auto;
  }

  .element {
    width: 15rem;
    margin: auto;
  }
}

a:hover {
  color: rgb(255, 0, 0);
}